input, select{
    background-color: rgba(169, 221, 157, 0.549) !important;
    border: none !important;
}
input:checked {
    background-color: rgba(0, 0, 0, 0.607) !important;
    border: none !important;
}
input:focus {
    border: none !important;
}